
AuroraStore-master-*.zip

gradle-app.setting
local.properties
request.*
signing.properties

/gradle/wrapper/gradle-*-bin.zip

.gradle
.kotlin

/.idea/*
!/.idea/icon.svg

*.class
*.dex
*.iml
*.log

/bin
/build
/gen
/out
/proguard
/captures
/app/build
/app/debug

/app/alpha
/app/beta
/app/canary
/app/nightly
/app/release

# MAC OSX system files
*.DS_Store
